/*
    You can add your own custom styles here.
*/

.menu-bottom-section #i18n-switch select {
    appearance: auto;
    -webkit-appearance: auto;
}

.article-list--compact.links img {
    border-radius: 6px;
}
